In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\mriaz\\machine learning\\Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
#change header
df = pd.read_csv('C:\\Users\\mriaz\\machine learning\\Fortune_10.csv', header=1)
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
#change header
df = pd.read_csv('C:\\Users\\mriaz\\machine learning\\Fortune_10.csv', header=None)
df

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
#change header
df = pd.read_csv('C:\\Users\\mriaz\\machine learning\\Fortune_10.csv', names = [1,2,3,4,5,6,7,8])
df

,1,2,3,4,5,6,7,8
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [12]:
#change header
df = pd.read_csv('C:\\Users\\mriaz\\machine learning\\Fortune_10.csv', header=None, prefix='col')
df

TypeError: read_csv() got an unexpected keyword argument 'prefix'